.headLine {
    font-size: 6rem;

}

strong {
    font-weight: 1000;
    color: red;
}

.underHeader {
    font-size: 2.8rem;
}

body {
    margin: 0 9rem 0 9rem;
    text-align: center;
    background-color: aliceblue;
}

.boxes {
    margin-top: 10%;
    display: flex;
    flex-direction: row;

}

.box {
    width: 18rem;
    margin: auto;
    font-size: 1.7rem;
    height: 17rem;
    box-shadow: black 4px 4px 10px;
    border-radius: 20px;
    padding: 1rem;
    transition: transform 0.3s ease;
    background-color: white;
}

.p_box {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 1.2rem 0 1.2rem;
    text-align: start;
}

.box:hover {
    transform: scale(1.2);

}

.box:active {
    transform: scale(0.9);
}

.lesMer {
    margin-top: 7rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    background-color: white;
    border: none;
    box-shadow: black 4px 6px 10px;
    width: 23rem;
    height: 7rem;
    border-radius: 20px;
    transition: border .8s ease, transform .3s ease;

}

.lesMer:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: dotted black 2px;

}

.lesMer:active {
    transform: scale(1);
}